hr{
    width: 100%;
}

#Image-Info{
    display: grid;
    grid-template-areas:
    "File Image"
    "Info Image"
    "Desc Image"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 12fr;
    width: 100vw;
    height: 500px;
    .none{
        color: transparent;
        width: 0;
        height: 0;
    }
    & > *{
        position: relative;
        display: flex;
        flex-wrap: wrap;

        background-color: grey;

        border-radius: 2vmin;
        padding: 10px;
        margin: 5px;

        overflow-x: hidden;
    }
    .shine{
        top:0;
        right: 0;
        height: 100%;
        transform: skewX(-25deg);
        background-color: rgb(95, 175, 255);
        z-index: 1;
    }
    & > *::before{
        content: "";
        position: absolute;
        .shine();
        width: 40px;
    }
    & > *::after{
        content: "";
        position: absolute;
        .shine();
        width: 10px;
        right: 5%;
        background-color: rgb(195, 225, 255);
    }
    h2{
        font-family: "Electrolize";
        font-size: 36px;
    }
    hr{
        width: 100%;
        height: 1px;
        background-color: aquamarine;
        border: none;
    }
    img{
        background-color: rgb(49, 88, 103);
        align-self: stretch;
        justify-self: stretch;
        &::before,&::after{

            .none()
        }

    }
    p{
        align-self: start;
        justify-self: start;
    }


}