hr{
    width: 100%;
}

#Image-Info{
    display: grid;
    grid-template-areas:
    "Info Image"
    "Info Image"
    "Info Image"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 500px;
    align-items: center;
    justify-items: center;
    object{
        width: 80%;
        height: 80%;
    }
}

#Information{
    display: grid;
    grid-template-rows: 3fr 1fr 12fr;

    max-height: 100%;
    max-width: 85%;
    width: 85%;

    grid-area: Info;
    align-self: stretch;

    margin:25px;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;

    background:grey;

    overflow-x: hidden;

    *{
        display: flex;

        margin: 5px;

        border-radius: 5px;

        background-color: rgb(29, 29, 29);
        box-shadow: 0 0 5px white;

        align-items: center;
        justify-content: center;
    }
    h2{
        display: flex;

        padding-left: 5px;

        font-size: 36px;
        background:linear-gradient(90deg,rgb(51, 51, 51),rgb(95, 94, 94) 90%);
    }
    a{
        font-size: 12px;
        color: rgb(116, 193, 251);
    }
    a:visited{
        color: rgb(6, 66, 206);
    }
    p{
        font-family: monospace;
        padding: 10px;
    }
}