---
    import Layout from "../../layouts/Layout.astro";
    import Link from "../../components/HoverInLink.jsx"
---
<body style="margin: 0;">

    <div>
        <img>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid dolorum commodi ipsa quisquam! At reiciendis praesentium quidem atque. Aliquid nulla quos magnam sunt quas perspiciatis ipsum accusantium dolore porro.</p>
    </div>
</body>