---
    import Layout from "../../layouts/Layout.astro";
    import Officer from "./Officer.astro";

    // class=" grid grid-cols-6 content-center gap-10 py-10 px-4"
---
<Layout title="Cabinet">
    <div id="Officer-Box">
        <Officer name="Jesus Gomez" position="President" gridCol=" 1 / 4"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt est ducimus odio vel quibusdam eius, facilis corporis mollitia cumque harum? Impedit provident neque magni repellat numquam nostrum dignissimos, molestias expedita?</Officer>
        <Officer name="Trino andrades" position="Vice President" gridCol=" 4 / -1"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad architecto et illum, quisquam rerum reiciendis ex impedit sapiente pariatur blanditiis iure iusto assumenda repellat dolorum in ab, veritatis minus. Tenetur?</Officer>
        <Officer name="Shala" position="Secretary" gridCol=" 1 / 3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, vel fugit iusto nisi placeat explicabo nesciunt dolore debitis a nihil vitae laudantium saepe? Dolorem repudiandae qui quas eius quis repellendus.</Officer>
        <Officer name="Jose Flores" position="Treasurer" gridCol=" 3 / 5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore earum quasi quam omnis ullam magni consectetur sit minima. Quasi officia corrupti distinctio, dolore vitae quos quam ipsa praesentium id explicabo.</Officer>
        <Officer name="Christan Marmolejo" position="Publicty Maneger" gridCol=" 5 / -1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, excepturi soluta! Cum nesciunt officiis deserunt saepe quia dicta facilis adipisci. Iusto quaerat omnis eos alias repellendus illum? Odio, repudiandae doloribus.</Officer>
    </div>
    <style>
        #Officer-Box{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            align-content: center;

            gap: 25px;

            padding:25px;
        }
    </style>
</Layout>