---
const Lorem = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dignissimos sed dolore fugit quae neque rerum perferendis voluptatem, numquam, placeat inventore ad quisquam tempore omnis odit quas illum voluptatum? Error."

interface Props {
	name: string;
    position:string;
    img?:string;
    gridCol?:string;
}

const { name , position , img = "", gridCol = ""} = Astro.props;


---

<div class=" grid grid-cols-2 grid-rows-3 p-4">
    <img alt="Place Holder Image" class=" flex justify-center items-center rounded-md">
    <h2 class=" bg-slate-300 rounded-md pl-5"> {name} </h2>
    <h3 style="margin: auto; width:100%;">Club {position}</h3>
    <p class=" bg-slate-500 rounded-md">
        <slot />
    </p>
</div>

<style lang="less" define:vars={{gridCol}}>
    div{
        background-color: black;
        border-radius: 10px;
        height: 300px;
        width: 100%;
        column-gap: 25px;
        grid-template-rows: 1fr 1fr 5fr;
        grid-column:var(--gridCol) ;
        align-items: stretch;
        font-size: 12px;
        transition: box-shadow 250ms;
        &:hover{
            box-shadow: 0 0 5px 5px skyblue;
        }
        & img{
            grid-row: 1 / -1;
            background-color: white;
            color: black;
        }
    }
</style>
<style>
    div{

    }
</style>
