---
const Lorem = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dignissimos sed dolore fugit quae neque rerum perferendis voluptatem, numquam, placeat inventore ad quisquam tempore omnis odit quas illum voluptatum? Error."

interface Props {
	name: string;
    position:string;
    img?:string;
    gridCol?:string;
}

const { name , position , img = "", gridCol = ""} = Astro.props;


---

<div class=" grid grid-cols-2 grid-rows-3 p-4">
    <img alt="Place Holder Image">
    <h2> {name} </h2>
    <h3 style="margin: auto; width:100%;">Club {position}</h3>
    <p>
        <slot />
    </p>
</div>

<style lang="less" define:vars={{gridCol}}>
    div{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-column: var(--gridCol);

        transition: 250ms box-shadow;

        padding: 16px;

        border: 1px white solid;
        border-radius: 10px;

        img{
            grid-row: 1 / -1;
        }
        p{
            font-size: 11px;
        }
        &:hover{
            box-shadow: 0 0 5px 5px rgb(140, 182, 255);
        }
    }
</style>