---
import Layout from '../layouts/Layout.astro';
---

<Layout name="Home">
	<div id="Top">
		<div style="display: flex; align-items:center; justify-content: center;">
			Example image
		</div>
		<div style="display: grid; gap:40px; padding-block: 40px;">
			<hr>
			<h1>Example Text</h1>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis porro eaque doloremque possimus, aperiam soluta totam at assumenda beatae voluptatibus explicabo quam in facere dolor laudantium consectetur. Officiis, quae quam.</p>
			<hr>
		</div>
	</div>
	<div>
		<h1>Cool Stuff</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nulla soluta praesentium quas deleniti, expedita a obcaecati quibusdam blanditiis magnam quo velit dolorum accusamus placeat debitis inventore ea ducimus ipsum?</p>
	</div>
</Layout>

<style>
	#Top{
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100vw;
		max-width: 100vw;
		height: 400px;
		box-sizing: border-box;
		padding-inline: 24px;
	}
	hr{
		width: 100%;
		height: 0px;
	}
</style>