#Main-Header{
    display: grid;
    grid-template-columns: 95vw 5vw;
    grid-template-rows: 150px;

    overflow: hidden;

    align-items: stretch;
    justify-items: stretch;
}

#Main-Header-Top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    padding-inline: 5vw;

    background-color: grey;
    font-family:  "Expletus Sans";
}
#Main-Header-Top::before{
    content: "";
    position: absolute;
    display: block;

    top:0px;
    left: 0px;

    width: 480px;
    height: 100%;

    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    background-color: rgb(45, 45, 45);
}
#Main-Header-Top h1{
    color:white;
    padding: 25px;
    border-block:solid;
}
#Main-Header-Top nav{
    display: grid;
    grid-auto-flow: column;

    align-items: center;
    justify-items: center;

    background-color: rgb(75, 75, 75);

    height: 75px;

    border: solid;
    border-radius: 5px;
    border-inline: none;
    font-family: "Electrolize";
    font-size: 20px;
}
#Main-Header-Top nav a{

    border-inline: 1px grey solid;
    padding-inline:1vw;

    padding-block:5px;

    margin:10px;

    text-decoration: none;
    color: rgb(127, 193, 255);
    text-shadow: 0px 0px 5px rgb(127, 193, 255);

    transition: 250ms;
}
#Main-Header-Top nav a:hover{
    padding-inline:1.5vw;

    padding-block:10px;
}
#Main-Header-Shine{
    background-color: grey;
    overflow: hidden;
}
#Main-Header-Shine::before{
    content: "";

    position: absolute;
    display: block;

    height: 75%;
    width: 10px;
    right: -5px;
    bottom: 0px;

    transform: skew(-25deg);
    background-color: rgb(175, 175, 175);
}
#Main-Header-Shine::after{
    content: "";

    position: absolute;
    display: block;

    height: 100%;
    width: 20px;
    right: 10px;
    bottom: 0px;

    transform: skew(-25deg);
    background-color: rgb(175, 175, 175);
}

#Main-Header-Bottom{
    grid-column: 1 / -1;
    background: linear-gradient(45deg, rgb(75, 162, 255), rgb(0, 79, 224));
}