---
    import Layout from "../../layouts/Layout.astro";
    import Projects from "./Projects.tsx";
---
<Layout title="Projects">
    <div style="display: grid;">
        <Projects />
    </div>
</Layout>